// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";

// pages
@import "RootCmp";
@import "pages/_loginsignup";
@import "pages/_login";
@import "pages/_signup";
@import "pages/_mainpage";
@import "pages/_resultpage";
@import "pages/_livepage";

// Components
// @import "cmps/list";
// @import "cmps/preview";
@import "cmps/_appheader";
@import "cmps/_appfooter";
@import "cmps/_usermsg";
@import "cmps/_songlist";
@import "cmps/_songpreview";
@import "cmps/_playermain";
@import "cmps/_adminmain";

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #23244d 0%, #4a90e2 40%, #a259c6 80%, #ff6a88 100%);
  background-attachment: fixed;
}